.color-principal{
    background-color: #87A0B2;
}

/*articulo*/

.articulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}

.articulo-cuerpo, .cards-articles, .spacing{
    margin: 2rem 0;
}

/*galeria*/
.galeria-principal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}

.carousel{
    width: 90%;
    margin: 0 auto;
    height: 15rem;
    overflow: hidden;
}

.evento-1, .evento-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
}

.card-group{
    margin-top: 1rem;
}

.card-img-top{
    height: 100%;
}

/*articulos*/

.articulo-destacado{
    background-color: #bdc4c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
    padding: 1rem;
}

.destacado{
    width: 100%;
    margin-top: 1rem;
}

.articulos-archivos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
    flex-wrap: wrap;
}

.articulos-archivos .card{
    width: 100%;
    margin: 1rem 0;
}

@media screen and (min-width:550px){
    .card-group{
        margin-top: 0;
    }

    .carousel{
        height: 20rem;
    }
}

@media screen and (min-width:768px){
    .evento-1, .evento-2 {
        flex-direction: row;
    }

    .articulo-destacado{
        flex-direction: row;
    }

    .destacado{
        width: 60%;
        margin-top: 0;
        margin-left: 1rem;
    }

    .articulos-archivos{
        flex-direction: row;
        justify-content: space-between;
    }

    .articulos-archivos .card{
        width: 40%;
        margin: 2rem;
    }

    .carousel{
        height: 30rem;
    }
}