header {
  height: 120px;
}
header nav {
  background-color: #87A0B2;
  z-index: 1;
  padding: 10px;
}
header .logo-principal {
  width: 70px;
  margin-right: 3rem;
}
header .icons {
  width: 40px;
  margin-right: 1rem;
}
header nav {
  padding: 20px 0 0;
}
header .link-icons {
  color: white;
  margin: 0px 0.5rem;
}
header .menu-navegacion li a {
  display: inline-block;
  height: 25px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #87A0B2;
  padding: 10px 0;
}
footer .redes-sociales-footer {
  margin: 0;
}
footer .link-icons {
  color: white;
}
footer p {
  padding: 10px 0;
  margin: 0;
}
footer p a {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e9ecef;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

main {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

.banner {
  padding: 3rem 1rem;
}
.banner .frase-banner {
  position: absolute;
  top: 12rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  width: 90%;
}
@media screen and (min-width: 550px) {
  .banner .frase-banner {
    font-size: 1rem;
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .banner .frase-banner {
    font-size: 2rem;
  }
}

.enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
.enlaces .card-sections {
  margin: 0.5rem 0;
  width: 15rem;
}
@media screen and (min-width: 550px) {
  .enlaces {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .enlaces .card-sections {
    margin: 0;
  }
}

.destacados {
  margin: 5rem 0;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
.destacados .noticia {
  margin: 1rem 0;
}
.destacados .img-fluid {
  height: 100%;
}

.btn {
  background-color: #126cb2;
  border: 2px solid black;
}
.btn:hover {
  background-color: #2a316d;
}

.btn.not-active {
  opacity: 0.8;
  pointer-events: none;
  cursor: default;
}

.img-trayectoria {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.title-principal-trayectoria {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.justify {
  text-align: justify;
  padding: 0 1rem;
}

.container-trayectoria {
  padding: 3rem 1rem;
}

.row {
  align-items: center;
  justify-content: center;
}

.col-6 {
  width: 70%;
}
@media screen and (min-width: 768px) {
  .col-6 {
    width: 33%;
    flex: 0 0 auto;
  }
}

.frase {
  font-size: 1rem;
}
@media screen and (min-width: 550px) {
  .frase {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .frase {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .frase {
    font-size: 1.5rem;
  }
}

.video {
  width: 100%;
  height: 32rem;
  margin-top: 5rem;
}

.articulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}
.articulo .articulo-cuerpo {
  margin: 2rem 0;
}
.articulo .spacing {
  margin: 2rem 0;
}

.cards-articles {
  margin: 2rem 0;
}

.galeria-principal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.carousel {
  width: 90%;
  margin: 0 auto;
  height: 15rem;
  overflow: hidden;
}
@media screen and (min-width: 550px) {
  .carousel {
    height: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .carousel {
    height: 30rem;
  }
}

.evento-1,
.evento-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
}
.evento-1 .card-group,
.evento-2 .card-group {
  margin-top: 1rem;
}
@media screen and (min-width: 550px) {
  .evento-1 .card-group,
  .evento-2 .card-group {
    margin-top: 0;
  }
}
.evento-1 .card-img-top,
.evento-2 .card-img-top {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .evento-1,
  .evento-2 {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
