// Artículo Destacado
.articulo-destacado {
    background-color: #bdc4c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
    padding: 1rem;
  
    .destacado {
      width: 100%;
      margin-top: 1rem;
    }
  
        @media screen and (min-width: 768px) {
        flex-direction: row;
        
            .destacado {
                width: 60%;
                margin-top: 0;
                margin-left: 1rem;
            }
        }
    }
  
  .articulos-archivos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
    flex-wrap: wrap;
  
    .card {
      width: 100%;
      margin: 1rem 0;
    }
  
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
  
      .card {
        width: 40%;
        margin: 2rem;
      }
    }
  }