// Artículo
.articulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;

    .articulo-cuerpo {
        margin: 2rem 0;
    }

    .spacing {
        margin: 2rem 0;
    }
}

.cards-articles {
    margin: 2rem 0;
}